@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8e8ee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #867070;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #dbc4f0;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1.5px solid #a7727d;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #374259;
}

.todo-input::placeholder {
  color: #7c96ab;
}

.todo-btn {
  background: #d7c0ae;
  color: #a7727d;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}

.container{
  height: fit-content;
  width: 50vw;
  background: #1D5D9B;
  margin: 10vh auto;
  padding: 5vh 20vh;
  border-radius: 10px;
}

.form{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-floating{
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 0px;
}

.form-input{
  padding: 10px 10px;
  outline: none;
  border-radius: 10px;
  border: none;
  background-color: #FBEEAC;
}

.form-label{
  color: white;
}

.btn{
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #F4D160;
  border:none;
  outline: none;
  font-size: 16px;
  font-weight: 400px;
}

.btn:hover{
  cursor: pointer;
}

.change-page{
  display: flex;
  margin: 20px auto 0px auto;
}

.logout-button {
  padding: 15px 20px;
  background-color: #8758FF;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 14px
}

.logout-button:hover{
  cursor: pointer;
}